.qodo
__pycache__/
__pycache__
**/__pycache__
venv/
base_jp_lab/
jp_bd.sql
# Ignorar toda a pasta uploads
uploads/*

# Exceto o arquivo marcador
!uploads/UPLOADS_DE_PDFS_VEM_AQUI

# MERGE
Disfuncional_Com_Merge.ini
Funcional_Sem_Merge.ini

# Gerador do mapa dos arquivos
gerar_mapa_diretorio.py
mapa_diretorio.ini
mapa_conteudo.ini
mapa_visual.txt
.dirignore

# Mapa MUITO ANTIGO (manual)
tree_agend_content.ini.bkp
tree_agend.ini.bkp

# Variáveis de ambiente
.env